@use './Variables';
@use './Fonts';
@use './Reset';
@use './Utility';

body {
    background: #F2F5FB;
}

.line-icon {
    color: inherit;
    fill: none;
    height: 1.5rem;
    stroke: currentColor;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 1.5;
    width: 1.5rem;
}