---
import Terminal from '@/components/home/Terminal.astro'
import KeyboardButton from '@/components/base/KeyboardButton.astro'

import DotsBackground from '@/assets/img/dots-background.svg'
---

<section class="full-width">
    <div class="home-hero">
        <div class="col-left">
            <div class="headings">
                <h1>Hey, I'm Billy!</h1>
                <h2>Frontend developer, UX/UI + Product Designer</h2>
            </div>
            <p>From <KeyboardButton size="sm">sketch</KeyboardButton> to <KeyboardButton size="sm">wireframe</KeyboardButton> to <KeyboardButton size="sm">production</KeyboardButton>, I bring web apps, products, and sites to life with code.</p>
            <Terminal />
        </div>
        <div class="col-right">
            <p><svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-alert-triangle" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 9v4" /><path d="M10.363 3.591l-8.106 13.534a1.914 1.914 0 0 0 1.636 2.871h16.214a1.914 1.914 0 0 0 1.636 -2.87l-8.106 -13.536a1.914 1.914 0 0 0 -3.274 0z" /><path d="M12 16h.01" /></svg><br />Hey stranger!<br /><br />It looks like you stumbled upon this portolfio at an interesting time... as of January 24th, 2024, everything’s under construction for a total revamp but should be polished up soon! 😅<br /><br />(As a teaser, this section here will have a snazzy, interactive graphic of a mobile app UI.)</p>
        </div>
    </div>
</section>

<style lang="scss" define:vars={{ bg: `url(${DotsBackground.src})` }}>
@import '@/styles/_Variables.scss';

section {
    padding-bottom: 6rem;
    position: relative;

    &::after,
    &::before {
        background-attachment: fixed;
        background-image: var(--bg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        content: '';
        left: 0;
        pointer-events: none;
        position: absolute;
        right: 0;
        z-index: -1;
    }

    &::after {
        // background-color: rgba(255, 0, 0, 0.1);
        bottom: 4rem;
        top: 0;
    }

    &::before {
        // background-color: rgba(0, 0, 255, 0.1);
        bottom: -32rem;
        -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
        mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
        top: calc(100% - 4rem);
    }

    @media (min-width: $breakpoint-sm) {
        padding-bottom: 6rem;
    }
}

.home-hero {
    align-content: center;
    display: grid;
    gap: 4rem;
    grid-template-columns: minmax(0, 1fr);
    margin-left: auto;
    margin-right: auto;
    max-width: 92rem;
    min-height: calc(100vh - 16rem);
    padding-top: 4rem;

    @media (min-width: $breakpoint-sm) {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

.col-left {
    display: grid;
    gap: 3rem;
}

.col-right {
    align-items: center;
    display: flex;
    justify-content: center;

    & p {
        border-radius: 1rem;
        color: rgb(85, 69, 0);
        font-size: 1.125rem;
        background: rgba(255, 233, 135, 0.35);
        padding: 2rem;
    }
}

h1 {
    font-size: 3rem;
    margin-bottom: 0.25rem;
}

p {
    font-size: 1.625rem;
}
</style>