---
import '@/styles/global.scss'
import Nav from '@/components/blocks/Nav.astro'

interface Props {
    title: string
}

const { title } = Astro.props
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <!-- SEO stuff -->
        <title>{title}</title>
        <meta name="description" content="Billy Baggerman | Frontend developer, UX/UI + Product Designer" />
        <meta name="title" property="og:title" content="Billy Baggerman | Frontend developer, UX/UI + Product Designer" />
        <meta property="og:type" content="Website" />
        <!-- <meta name="image" property="og:image" content="https://bbag.github.io/img/thumbnail-portfolio.png" /> -->
        <meta name="description" property="og:description" content="Billy Baggerman | Frontend developer, UX/UI + Product Designer" />
        <meta name="author" content="Billy Baggerman" />
        <!-- Favicon stuff -->
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="shortcut icon" href="favicon.ico">
        <!-- Astro stuff -->
        <meta name="generator" content={Astro.generator} />
    </head>
    <body>
        <div class="layout">
            <Nav />
            <div class="nav-shadow"></div>
            <main>
                <slot />
            </main>
        </div>
    </body>
</html>

<style lang="scss" is:global>
@import '@/styles/_Variables.scss';

$transition-time: 250ms;
$transition-func: cubic-bezier(0.1, 0, 0.4, 1);

$left-nav-buffer: 8.125rem;
$content-padding: 2rem;

main {
    display: grid;
    grid-template-columns:
        [full-start] $content-padding
        [content-start] min(100% - ($content-padding * 2), 96rem) [content-end]
        $content-padding [full-end];
}

main > :not(.full-width),
.full-width > :not(.full-width) {
    grid-column: content;
}

main > .full-width {
    display: grid;
    grid-column: full;
    grid-template-columns: inherit;
}

@media (max-width: ($breakpoint-sm - 0.001rem)) {
    .layout > nav.nav-open {
        & ~ main {
            filter: blur(0.5rem);
        }

        & ~ .nav-shadow {
            background: rgba(10, 20, 40, 0.2);
        }
    }
}

@media (min-width: $breakpoint-sm) {
    .layout > nav:hover,
    .layout > nav:focus-within {

        & ~ main {
            filter: blur(0.5rem);
        }

        & ~ .nav-shadow {
            background: rgba(10, 20, 40, 0.2);
        }
    }

    main {
        grid-template-columns:
            [full-start] minmax(($left-nav-buffer + $content-padding), 4fr)
            [content-start] min(100% - (($content-padding * 2) + $left-nav-buffer), 96rem) [content-end]
            minmax($content-padding, 3fr) [full-end];
    }
}

main {
    filter: blur(0);
    // margin: 0 auto;
    // max-width: 96rem;
    transition: filter $transition-time $transition-func;
}

.nav-shadow {
    background: rgba(10, 20, 40, 0);
    inset: 0;
    position: fixed;
    transition: background-color $transition-time $transition-func;
    z-index: 2;
    
    @media (min-width: $breakpoint-sm) {
        pointer-events: none;
    }
}
</style>
